{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        {% if message %}
            <div class="alert alert-danger">
               <p style="color: red;">
                {{message}}

               </p> 
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="" method="POST", enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="card-body">



                        <div class="form-group">
                            <label>Subject</label>
                            <select name="subject" class="form-control" id='subject'>
                                <option value="">----</option>
                                {% for subject in subjects  %}
                                {% comment %} <option value="{{subject.id}}">{{subject.name}}</option> {% endcomment %}
                                <option value="{{subject.name}}">{{subject.name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Session Year</label>
                            <select name="session" id='session' class="form-control">
                                <option value="">----</option>
                                {% for session in sessions  %}
                                {% comment %} <option value="{{session.id}}">{{session}} </option> {% endcomment %}
                                <option value="{{session.name}}">{{session}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Upload File</label>
                            <input type="file" name="video" id="file" class="form-control video-input" accept=".mp4, .avi, .mov, .mkv, .jpg, .jpeg, .png, .gif">
                            <div class="img-input"  style="display: none;">
                                <input type="file" name="image" >


                            </div>
                            
                        </div>
                        
                        <div class="form-group">
                            <label>Select File Type</label>
                            <select name="file_type" id="file_type" class="form-control">
                                <option value="video">Video</option>
                                <option value="photos">Photos</option>
                            </select>
                        </div>


                        <script>
                            const change_input = ()=>{
                                var vid_input = document.querySelector('.video-input');
                                var img_input = document.querySelector('.img-input');
                                var file_type  = document.getElementById('file_type')

                                file_type.addEventListener('change', ()=>{
                                    selected = file_type.options[file_type.selectedIndex].text

                                    if (selected == 'Photos'){
                                        vid_input.style.display = 'None';
                                        img_input.style.display = 'Flex';
                                    }else{
                                        img_input.style.display = 'None';
                                        vid_input.style.display = 'Flex';
                                    }

                                })

                            }
                            change_input();
                        </script>
                        
                        {% comment %}

                        <div>
                            <label>Attendance Date</label>
                            <input type="date" class='form-control' name="attendance_date" id='attendance_date' id="">
                        </div>
                        {% endcomment %}

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" id='fetch_student' class="btn btn-success btn-block">take_attendence</button>
                        <div class="form-group" id="student_data">

                        </div>
                    </div>
                </form>
                </div>
            
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}

