
{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- main_app/templates/upload_success.html -->
                        <!DOCTYPE html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>Upload Success</title>
                        </head>
                        <body>
                            <h2>Upload Success</h2>
                            <p>Student images uploaded and training completed successfully.</p>
                        </body>
                        </html>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
